<ul class="media">
    {% for id, file in files %}
        {% if file.info.isDir %}
            <li class="folder" data-content="{{ file.title }}">
                <a href="{{ file.url }}"><img src="{{ file.thumbnail }}" /></a>
            </li>
        {% elseif file.info.isImage %}
            <li>
                <a href="#media-{{ file.id }}"><img src="{{ file.thumbnail }}" /></a>
                <div id="media-{{ file.id }}" class="overlay">
                    <a href="{{ file.url }}"><img src="{{ file.url }}" /></a>
                    <div class="description">
                        <a href="#" class="close"><i class="glyphicon glyphicon-remove"></i></a>
                    </div>
                </div>
            </li>
        {% elseif file.info.isSound %}
            <li data-content="{{ file.title }}"><a href="{{ file.url }}">
                <i class="glyphicon glyphicon-music"></i></a>
            </li>
        {% elseif file.info.isVideo %}
            <li data-content="{{ file.title }}"><a href="{{ file.url }}">
                <i class="glyphicon glyphicon-film"></i></a>
            </li>
        {% endif %}
    {% endfor %}
</ul>
